<%- include("./includes/head") %>
<section class="details">
  <div>
    <h1><%= post.title %></h1>
    <a href="/">Go Back Home</a>
  </div>
  <img src="<%= post.imgUrl %>" alt="<%= post.title %>" />
  <hr />
  <p><%= post.description %></p>
  <% if(post.userId.toString() === currentLoginUserId.toString()) { %>
  <div class="login-div">
    <form action="/admin/delete/<%= post._id%>" method="post">
      <input hidden value="<%= csrfToken %>" name="_csrf" />
      <button>Delete</button>
    </form>
    <a href="/admin/edit/<%= post._id%>">Edit</a>
  </div>
  <% } %>
</section>
<%- include("./includes/foot") %>
