<%- include("../includes/head") %>

<section class="profile">
  <h1 class="title">
    <i class="fa-solid fa-user-secret"></i> <%= currentUserEmail%>
  </h1>

  <% if(postsArr[0].userId.username) { %>
  <p class="premium--username">
    <%= postsArr[0].userId.username %> <% if(postsArr[0].userId.isPremium) { %>
    <i
      class="fa-solid fa-star animate__animated animate__flip animate__infinite infinite"
    ></i>
    <% } %>
  </p>
  <% } else { %>
  <p class="premium-username"><%= postsArr[0].userId.username %></p>
  <% } %>

  <div class="post-container">
    <% for(let post of postsArr) { %>
    <div class="post-box">
      <img
        src="<%= '/' + post.imgUrl %>"
        alt="<%= post.title %>"
        class="post-box-img"
      />
      <a href="/post/<%= post._id %>"><%= post.title %></a>
      <p class="post-description"><%= post.description.substr(0,400) %></p>
      <hr />
    </div>
    <% } %>
  </div>

  <div class="paginate">
    <% if(hasNextPage) { %>
    <a href="/profile/<%= postsArr[0].userId._id %>?page=<%= nextPage %>"
      >Next Page <%= nextPage %></a
    >
    <% } %> <% if(hasPreviousPage) { %>
    <a href="/profile/<%= postsArr[0].userId._id %>?page=<%= previousPage %>"
      >Previous Page <%= previousPage %></a
    >
    <% } %>
  </div>
</section>

<%- include("../includes/foot") %>
